/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - COMMON STYLES - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html, body{
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
body{
  display: none;
}
.width-50-percent{width:50%;}
.height-100{height: 100%!important;}
.opacity0{opacity: 0;}
.visibility-visible{visibility:visible!important}
.absolute-position{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.no-pointer-events{
  pointer-events: none;
}
ul{
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
@media all and (min-width: 501px) and (max-width: 991px) {

}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - HEADER MENU   - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#header{
  z-index: 50;
  position: relative;
}
#header img{
  height: 50px;
  position: absolute;
  left: 15px;
  top: 15px;
}
#menu-main-menu{
  position: absolute;
  top: 30px;
  right: 0;
  color: #ffffff;
  font-size: 18px;
  overflow: hidden;
}
#menu-main-menu li{
	display: inline;
	font-size: 15px;
  text-transform: none;
  font-family: 'houschka', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}
#menu-main-menu li:last-child{
	border-right: none;
	margin-right: 20px;
  border-bottom: 0;
}
#menu-main-menu a{
  color: rgba(255, 255, 255, 0.7);
  transition: all .3s;
}
#menu-main-menu a:hover{
  color: rgba(255, 255, 255, 1);
  text-decoration:none !important;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - FOOTER              - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
footer{
  position: relative;
  background-color: #F4F4F4;
  text-transform: none;
}
